{% extends "addbase2.html" %}
{% block title %}<a href="/device/">设备列表</a> {% endblock %}
{% block title1 %}设备详情{% endblock %}
{% block content %}
   <table cellpadding="10" width="100%" style="line-height: 30px;">
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel" width="100">品牌型号:</td>
         <td class="inputcontent" width="250">{{ device.model }}</td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">序列号:</td>
         <td class="inputcontent">{{ device.sn|default_if_none:'' }}</td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">类别:</td>
         <td class="inputcontent">{{ device.type }}
         </td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">责任处室:</td>
         <td class="inputcontent">{{ device.depid }}
         </td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">责任人:</td>
         <td class="inputcontent">{{ device.memid|default_if_none:'' }}
         </td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">房间号:</td>
         <td class="inputcontent">{{ device.room|default_if_none:'' }}</td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">状态:</td>
         <td class="inputcontent">{{ device.status }}</td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">备注:</td>
         <td class="inputcontent" colspan="2">{{ device.memo|default_if_none:'' }}</td>
      </tr>
   <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">更新时间:</td>
         <td class="inputcontent" colspan="2">{{ device.updatetime }}</td>
      </tr>
   </table>
   <br>
   <div style="width:100%;text-align: center;">
      <button type="button" class="btn btn-primary" style="min-width:100px;" onclick="history.back(-1);">返回</button>
   </div>
{% endblock %}