{% extends "addbase2.html" %}
{% block title %}<a href="/device/">设备列表</a> {% endblock %}
{% block title1 %}修改设备{% endblock %}
{% block actee %}
   <form action="/device/edit/{{ device.id }}" method="post">{% endblock %}
{% block content %}
   <table cellpadding="10" width="100%">
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel" width="100">品牌型号</td>
         <td class="inputcontent" width="250"><input type="text" class="form-control" name="model" value="{{ device.model }}" required></td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">序列号</td>
         <td class="inputcontent"><input type="text" class="form-control" value="{{ device.sn|default_if_none:'' }}" name="sn"></td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">类别</td>
         <td class="inputcontent"><select class="custom-select" name="type">
            {% for d in type %}
               <option value="{{ d.id }}" {% if device.type == d %}selected{% endif %}>{{ d.codename }}</option>
            {% endfor %}
         </select>
         </td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">责任处室</td>
         <td class="inputcontent"><select class="custom-select" name="dep" id="dep" onchange="get()" required>
            <option selected value="0">选择处室</option>
            {% for d in dep %}
               <option value="{{ d.id }}" {% if device.depid == d %}selected{% endif %}>{{ d.depname }}</option>
            {% endfor %}
         </select>
            <script type="text/javascript">
                function get() {
                    var obj = document.getElementById('member')
                    var sel = document.getElementById('dep')
                    var index = sel.selectedIndex; // 选中索引
                    var value = sel.options[index].value;
                    $.ajax({
                        url: '/member/get/',
                        type: 'post',
                        headers: {
                            "X-CSRFToken": '{{ csrf_token }}',
                        },
                        data: {'dep': value, 'device':{{device.id}}},
                        success: function (data) {
                            obj.innerHTML = data;
                        }
                    })
                }
            </script>
         </td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">责任人</td>
         <td class="inputcontent"><select class="custom-select" name="member" id="member">
         <option value="">--------</option>
            {% for d in mem %}
               <option value="{{ d.id }}" {% if device.memid == d %}selected{% endif %}>{{ d.name }}</option>
            {% endfor %}
         </select>
         </td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">房间号</td>
         <td class="inputcontent"><input type="text" class="form-control" value="{{ device.room|default_if_none:'' }}" name="room"></td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">状态</td>
         <td class="inputcontent"><select class="custom-select" name="zt">
            {% for d in zt %}
               <option value="{{ d.id }}" {% if device.status == d %}selected{% endif %}>{{ d.codename }}</option>
            {% endfor %}
         </select></td>
         <td></td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
         <td class="inputlabel">备注</td>
         <td class="inputcontent" colspan="2"><input type="text" class="form-control" value="{{ device.memo }}" name="memo"></td>
      </tr>
   </table>
   <br>
   <div style="width:100%;text-align: center;">
      <button type="submit" class="btn btn-primary" style="min-width:100px;">提交</button>
   </div>
{% endblock %}