
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>设备管理</title>
   <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
   <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
   <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">

</head>
<body class=" dashboard" data-admin-utc-offset="28800">
<table width="100%">
   <tr id="header">
      <td id="branding" style="border: 0;height: 30px;line-height: 30px;">
         <h1><a href="/">设备管理系统</a></h1>
      </td>
      <td id="user-tools" style="border: 0;">
         欢迎,<strong>{{username}}</strong><a href="/">返回首页</a> /
         <a href="/admin/password_change/">修改密码</a> /<a href="/admin/logout/">注销</a>
      </td>
   </tr>
   <tr>
      <td colspan="2" style="height: 100%;">
         <table width="100%">
            <tr>
               <td class="app-htgl module" width="300">
                  <table width="100%">
                     <caption>
                        管理菜单
                     </caption>
                     <!--<tr class="model-printer">
                        <th scope="row"><a href="/printer/" target="contentframe">打印机种类列表</a></th>
                        <td><a href="/admin/htgl/printer/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr class="model-cartridge">
                        <th scope="row"><a href="/cartridge" target="contentframe">硒鼓列表</a></th>
                        <td><a href="/admin/htgl/cartridge/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>-->
                     <tr>
                        <th scope="row"><a href="/admin/htgl/ecs/" target="contentframe">服务器</a></th>
                        <td><a href="/admin/htgl/ecs/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/device/" target="contentframe">设备列表</a></th>
                        <td><a href="/admin/htgl/device/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/member/" target="contentframe">人员列表</a></th>
                        <td><a href="/admin/htgl/member/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/department/" target="contentframe">处室列表</a></th>
                        <td><a href="/admin/htgl/department/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/cartridge/" target="contentframe">硒鼓列表</a></th>
                        <td><a href="/admin/htgl/cartridge/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                      <tr>
                        <th scope="row"><a href="/admin/htgl/printertype/" target="contentframe">打印机型号</a></th>
                        <td><a href="/admin/htgl/printertype/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/ecsstatus/" target="contentframe">服务器状态</a></th>
                        <td><a href="/admin/htgl/ecsstatus/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                  </table>
               </td>
               <td style="border: 0;padding: 0;margin: 0;">
                  <iframe name="contentframe" id="contentframe" width="100%" height="100%" frameborder="0"
                          onload="changeFrameHeight()" src="/admin/htgl/ecs/"></iframe>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
<!-- Container -->
<script type="text/javascript">
    function changeFrameHeight() {
        var ifm = document.getElementById("contentframe");
        ifm.height = document.documentElement.clientHeight - 170;
    }

    window.onresize = function () {
        changeFrameHeight();
    }
</script>

<br class="clear">
</div>
<!-- END Content -->

<div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>