<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>设备管理</title>
   <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
   <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
   <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
</head>
<body class=" dashboard" data-admin-utc-offset="28800">
<table width="100%" cellspacing="0" cellpadding="0">
   <tr id="header">
      <td id="branding" style="border: 0;height: 30px;line-height: 30px;">
         <h1><a href="/">设备管理系统</a></h1>
      </td>
      <td id="user-tools" style="border: 0;">
         欢迎,<strong>{{ username }}</strong><a href="/">返回首页</a> /
         <a href="/admin/password_change/">修改密码</a> /<a href="/logout/">注销</a>
      </td>
   </tr>
   <tr>
      <td colspan="2" style="height: 100%;">
         <ba-sidebar></ba-sidebar>
         <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
               <td class="app-htgl module" width="250">
                  <table width="100%">
                     <caption>
                        项目管理
                     </caption>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/advice/" target="contentframe">需求建议</a></th>
                        <td><a href="/admin/htgl/advice/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/diary/" target="contentframe">大事记</a></th>
                        <td><a href="/admin/htgl/diary/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr style="height: 20px;"></tr>
                  </table>
                  <table width="100%">
                     <caption>
                        设备管理
                     </caption>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/ecs/" target="contentframe">服务器</a></th>
                        <td><a href="/admin/htgl/ecs/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/device/" target="contentframe">设备列表</a></th>
                        <td><a href="/device/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/borrow/" target="contentframe">设备借用</a></th>
                        <td><a href="/borrow/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/recordborrow" target="contentframe">借用审批</a></th>
                        <td></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/project/" target="contentframe">项目管理</a></th>
                        <td></td>
                     </tr>
                     <tr style="height: 20px;"></tr>
                  </table>
                  <table width="100%">
                     <caption>
                        耗材管理
                     </caption>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/cartridge/" target="contentframe">耗材列表</a></th>
                        <td><a href="/admin/htgl/cartridge/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/recordapply/" target="contentframe">领用记录</a></th>
                        <td><a href="/admin/htgl/recordapply/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/printertype/" target="contentframe">打印机型号</a></th>
                        <td><a href="/admin/htgl/printertype/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr style="height: 20px;"></tr>
                  </table>
                  <table width="100%">
                     <caption>
                        系统配置
                     </caption>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/member/" target="contentframe">人员列表</a></th>
                        <td><a href="/admin/htgl/member/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/department/" target="contentframe">处室列表</a></th>
                        <td><a href="/admin/htgl/department/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/sys/" target="contentframe">代码字典</a></th>
                        <td><a href="/admin/htgl/sys/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/htgl/ecsstatus/" target="contentframe">服务器状态</a></th>
                        <td><a href="/admin/htgl/ecsstatus/add/" class="addlink" target="contentframe">增加</a></td>
                     </tr>
                     <tr>
                        <th scope="row"><a href="/admin/" target="contentframe">系统后台</a></th>
                        <td></td>
                     </tr>
                  </table>
               </td>
               <td style="border: 0;padding: 0;margin: 0;">
                  <iframe name="contentframe" id="contentframe" width="100%" height="100%" frameborder="0"
                          onload="changeFrameHeight()" src="/admin/htgl/ecs/" style="padding: 0;margin-top: 1px;"></iframe>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
<!-- Container -->
<script type="text/javascript">
    function changeFrameHeight() {
        var ifm = document.getElementById("contentframe");
        ifm.height = document.documentElement.clientHeight - 170;
    }

    window.onresize = function () {
        changeFrameHeight();
    }
</script>
<script src="/static/js/vendor-67079fe425.js"></script>

<script src="/static/js/app-de3adf79ad.js"></script>
<br class="clear">
</div>
<!-- END Content -->

<div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>