body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

a:link, a:visited {
    color: #447e9b;
    text-decoration: none;
    text-underline: none;
}

a:focus, a:hover {
    color: #036;
}

a:focus {
    text-decoration: none;
    text-underline: none;
}