<!DOCTYPE html>

<html lang="zh-Hans">
<head>
    <title>修改 设备管理 | 设备管理</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body>
<div id="content" class="colM">
    <h1><a href="javascript:history.back(-1)">
        <返回
    </a> 设备详情 | 编辑
    </h1>
    <div id="content-main">
        <form action="/cartridge/update/{{list.id}}" method="post" id="cartridge_form" novalidate>
            {%csrf_token%}
            <div>
                <fieldset class="module aligned ">
                    <div class="form-row field-model">
                        <div>
                            <label for="id_model">型号:</label>
                            <input type="text" name="model" value="{{list.model}}" class="vTextField" maxlength="50"
                                   id="id_model">
                        </div>
                    </div>
                    <div class="form-row field-brand">
                        <div>
                            <label for="id_brand">品牌:</label>
                            <input type="text" name="brand" value="{{list.brand}}" class="vTextField" maxlength="10"
                                   id="id_brand">
                        </div>
                    </div>
                    <div class="form-row field-sn">
                        <div>
                            <label>颜色:</label>
                            <input type="text" name="color" value="{{list.color}}" class="vTextField" maxlength="50">
                        </div>
                    </div>
                    <div class="form-row field-sn">
                        <div>
                            <label>库存:</label>
                            <input type="text" name="number" value="{{list.number}}" class="vTextField" maxlength="50">
                        </div>
                    </div>
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="保存" class="default" name="_save">
                    <p class="deletelink-box">
                        <a href="/cartridge/delete/{{list.id}}" class="deletelink" onClick="return confirm('确定删除?');">删除</a>
                    </p>
                </div>
                <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js">
                </script>
                <script type="text/javascript" id="django-admin-prepopulated-fields-constants"
                        src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
                </script>
            </div>
        </form>
    </div>
</div>
</body>
</html>
